body { padding-top: 60px; background: #791b1b;color:#FFF;}
a {color:#FFF;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    color: #fff;
    background-color: #f7b756;
    border: 1px solid #f7b756;
}
.nav-tabs {
    border-bottom: 1px solid #f7b756;
}
#help_game .navbar{
    background: #ce6921;
}
#help_game .navbar .navbar-brand{

}
#help_game .nav-tabs>li.active>a,#help_game .nav-tabs>li.active>a:hover,#help_game .nav-tabs>li.active>a:focus
{

}
.mail_title{
    width:15%;
}
.list-group{
    color:#333;
}
table{
    color:#333;
    background: #FFF;
}
blockquote{
    color:#333;
    background: #FFF;
}