<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>game</key>
	<array>
		<dict>
			<key>PacketName</key>
			<string>com.hiigame.ddz.android.qh360</string>
		</dict>
	</array>
	<key>plugins</key>
	<array>
		<dict>
			<key>AppID</key>
			<string>201506591</string>
			<key>LoginRequestURL</key>
			<string>new/gateway/QiHu/login</string>
			<key>name</key>
			<string>Session360</string>
			<key>type</key>
			<string>5</string>
			<key>tag</key>
			<string>4</string>
			<key>default</key>
			<string>0</string>
		</dict>
		<dict>
			<key>AppID</key>
			<string>201506591</string>
			<key>OrderRequestURL</key>
			<string>QiHu/intl/pay</string>
	      	<key>name</key>
		  	<string>IAP360</string>
		  	<key>type</key>
		  	<string>3</string>
		  	<key>tag</key>
		  	<string>1</string>
	      	<key>default</key>
	      	<string>1</string>
	      	<key>mid</key>
			<string>49</string>
	    </dict>
	    <dict>
	      	<key>name</key>
		  	<string>Extend360</string>
		  	<key>type</key>
		  	<string>6</string>
		  	<key>tag</key>
		  	<string>3</string>
	      	<key>default</key>
	      	<string>1</string>
	    </dict>
		<dict>
			<key>name</key>
			<string>PlatformWP</string>
			<key>type</key>
			<string>9</string>
			<key>default</key>
			<string>1</string>
		</dict>
		<dict>
			<key>OrderRequestURL</key>
			<string>estoreOffline/intl/pay</string>
      		<key>name</key>
			<string>IAPEstore</string>
			<key>type</key>
			<string>10</string>
			<key>default</key>
			<string>1</string>
			<key>mid</key>
			<string>47</string>
			<key>SmsTyp</key><!--短代类型 0:都可 1:移动 2:联通 3:电信 -->
			<string>3</string>
			<key>needConfirm</key>
			<string>1</string>	
		</dict>
		<dict>
			<key>OrderRequestURL</key>
			<string>ydmm/intl/pay</string>
			<key>appId</key>
			<string>300008247066</string>
			<key>appKey</key>
			<string>CE2AD0F71BB6B2E5</string>
      		<key>name</key>
			<string>IAPYdmm</string>
			<key>type</key>
			<string>10</string>
			<key>default</key>
			<string>1</string>
			<key>mid</key>
			<string>25</string>
			<key>SmsTyp</key>
			<string>1</string>
			<key>needConfirm</key>
			<string>1</string>	
		</dict>
		<dict>
			<key>CheckRequestURL</key>
			<string>vou/pay/result</string>
			<key>OrderRequestURL</key>
			<string>woshop/intl/pay</string>
			<key>appId</key>
			<string>9016305064320140411185319294100</string>
			<key>cpCode</key>
			<string>90163050643</string>
			<key>cpId</key>
			<string>86009859</string>
      		<key>name</key>
			<string>IAPUniPay</string>
			<key>type</key>
			<string>10</string>
			<key>default</key>
			<string>1</string>
			<key>mid</key>
			<string>28</string>
			<key>SmsTyp</key>
			<string>2</string>
			<key>needConfirm</key>
			<string>1</string>
		</dict>
		<dict>
			<key>OrderRequestURL</key>
			<string>sp/intl/pay</string>
      		<key>name</key>
			<string>IAPWPSMS</string>
			<key>type</key>
			<string>10</string>
			<key>default</key>
			<string>1</string>
			<key>mid</key>
			<string>71</string>
			<key>SmsTyp</key>
			<string>-1</string>
			<key>needConfirm</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PushIGeXin</string>
			<key>type</key>
			<string>7</string>
			<key>tag</key>
			<string>4</string>
			<key>default</key>
			<string>1</string>
		</dict>
		<dict>
	    	<key>appkey</key>
	    	<string>1407204168143</string>
	    	<key>appchannel</key>
	    	<string>android.ddz.qh360</string>
	      	<key>name</key>
		  	<string>AdsPingCoo</string>
		  	<key>type</key>
		  	<string>1</string>
	      	<key>default</key>
	      	<string>1</string>
	    </dict>
	</array>
</dict>
</plist>
